.simple-card {
  padding: 0.5rem;

  &-container {
    padding: 2rem;
    // min-height: 240px;
    // min-width: 160px;
    // width: 15vw;
    // max-width: var(--card-max-width);
    background-color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 1px transparent;

    &:hover {
      border-color: var(--info);
    }
  }

  &-title {
    padding: 0;
    margin-bottom: 1rem;
  }

  &-text {
    color: var(--dark);
  }

  &-subtext {
    flex: 1;
    margin-top: 3rem;
    color: var(--info);
  }

  &-link {
    margin-top: 1rem;

    & a {
      color: var(--info);
      font-size: 125%;
      // font-weight: bold;
      text-decoration: none;
    }
  }
}
