.home-statement {
  max-width: 800px;
  margin: auto;
  margin-top: 3rem;
  color: var(--dark);


  &-title {
    font-weight: bold;
    font-size: 150%;
    text-align: center;
  }

  &-text {
    text-align: center;
    // font-size: 150%;
    // line-height: 125%;
  }

  &-desktop-image {
    width: 100%;

    & > img {
      margin: auto;
      max-width: 800px;
      width: 90%;
      display: block;
    }
  }

  &-images {
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

    & .image {
      margin: 1rem;
      height: auto;
      max-height: 60vw;
      width: 100%;
      max-width: 350px;
      box-shadow: 2px 2px 6px 1px var(--secondary);

    }
  }

  @media screen and (min-width: 570px) {
    &-text {
      // font-size: 1.5rem;
      // line-height: 1.5rem;
    }

    &-images {
      display: none;
    }
  }

  @media screen and (max-width: 570px) {
    &-desktop-image {
      display: none;
    }
  }

  @media screen and (min-width: 1400px) {
    max-width: 1200px;

    &-desktop-image {
      max-width: 1200px;

      & > img {
        max-width: 1200px;
      }
    }
  }
}
