.post-template {
  min-height: 30vw;
  background-color: var(--white);
  padding-bottom: 6rem;
  color: var(--dark);
  overflow-x: hidden;

  &-top-banner {
    &-container {
      margin-top: 0.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: var(--white);
      text-align: center;
      
      & .cover {
        display: flex;
        // background-color: rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(transparent, #111);
        height: 100%;
        width: 100%;
        height: 60vh;
        // padding-top: 33%;
      }
    }
  }

  &-content {
    max-width: 800px;
    margin: auto;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
    
    & h1 {
      display: none;
    }
  }

  & pre {
    overflow: auto;
  }
}
