.cookie-notice {
  background-color: var(--white);
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  transform-origin: bottom;
  transform: rotateX(90deg);
  transition: ease 0.5s;
  box-shadow: 2px 2px 3px 5px var(--secondary);
  opacity: 0;

  &.show {
    opacity: 1;
    transform: rotateX(0);
  }

  &-positioner {
    position: sticky;
    bottom: 0;
    height: 0;
  }

  &-container {
    max-width: 650px;
    margin: auto;
  }

  &-content {
    display: flex;
    margin-bottom: 1rem;

    &-logo {
      width: 100px;
      height: 100px;
      background-image: url(/images/MLReef_Logo_icon_01.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-message {
      color: var(--dark);
      padding-left: 1rem;

      & .title {
        font-size: 125%;
        font-weight: bold;
      }
    }

  }

  &-actions {
    display: flex;
    // padding-bottom: 1rem;
  }
}
