.input-action {
  & input {
    padding: 1.25rem 1.5rem;

    &::placeholder {
      color: var(--light);
    }
  }

  &-append {
    & .btn {
      padding: 0 1rem;
      font-weight: 700;
      // font-size: 1.5rem;
    }
  }
}
