$font-family: "Roboto", sans-serif;

.project-card-container {
  width: 250px;
  border: 0.1rem solid transparent;

  .card-title {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    height: 3.5rem;
    overflow: hidden;
  }

  &-autor {
    align-items: center;
    p {
      margin: 0;
      color: var(--secondary);
    }
  }

  .card-content {
    // margin-top: 1rem;

    & p {
      height: 4.5rem;
      overflow: hidden;
    }
  }

  span {
    font-size: 0.9rem;
    margin-right: 0.6rem;
  }

  & .label {
    font-family: $font-family;
    font-weight: normal;
  }
}

.project-card-avatar {
  height: inherit;
}

.project-card-container:hover {
  border: 0.1rem solid var(--info);
  cursor: pointer;
}

.avatars-reversed {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 1rem;
}

.avatar-container {
  background-color: var(--light);
  border: solid 1px var(--light);
  margin-left: -18px;
  overflow: hidden;
  transition: ease 0.3s;

  &:not(:last-child):hover {
    margin-left: 0;
  }
}
