.home-blog {
  background-color: var(--white);
  padding-bottom: 10rem;

  &-title {
    padding: 2rem;

    & .title {
      color: var(--dark);
      font-weight: bold;
      font-size: 150%;
      text-align: center;
    }
  }

  &-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &-post {
    text-align: center;
    color: var(--dark);

    &-container {
      border: solid 1px transparent;

      &:hover {
        border-color: var(--info);
      }
    }

    &-image {
      height: 140px;
      margin-bottom: 1rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-title {
      padding: 1rem;
    }

    &-subtitle {
      margin-bottom: 1rem;
      color: var(--secondary);
    }
  }
}
