$sm: 570px;

.content-cards {
  padding: 1rem;
  background-color: #fff;

  &-container {
    max-width: 1040px;
    margin: auto;
  }


  &-cards {
    margin-bottom: 3rem;
    padding: 0 1rem;
    position: relative;
    padding-left: 4rem;
    padding-right: 4rem;

    &-container {
      display: flex;
      overflow-x: auto;
      padding: 1rem 0.5rem;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: var(--light);
        height: 5px;
        width: 5px;
        margin: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background-color: var(--secondary);
        transform: translateX(10px);
      }
    }

    &-scroll {
      position: absolute;
      top: 2rem;
      bottom: 2rem;
      width: 3rem;
      display: block;
      background-color: transparent;
      border: none;
      z-index: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(/images/arrow_grey.png);
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover {
        background-image: url(/images/arrow_green.png);
      }


      &.left {
        left: 0;
        // background-image: url(/images/arrow_grey-left.png);
        transform: rotateY(180deg);
      }

      &.right {
        right: 0;
      }
    }
  }

  &-inter {
    margin-bottom: 2rem;
    border-bottom: solid 4px var(--secondary);

    & .triangle {
      font-size: 300%;
      margin: auto;
      text-align: center;
      display: block;
      transition: ease 0.8s;

      &.inverted {
        transform: rotateX(180deg);
      }
    }
  }

  &-content {

    &-title {
      color: var(--dark);
      text-align: center;
      font-weight: bold;
      font-size: 150%;
      margin: auto;
      margin-bottom: 1rem;
      max-width: 60%;
    }

    &-container {
      &.left {
        display: flex;
        align-items: flex-start;

        & > * {
          flex: 0 1 50%;
        }

        & .text-content {
          text-align: left;
          margin-top: 0;
          margin-right: 1rem;
        }

        & .image-content {
          margin-top: 1rem;

          & > img {
            width: 100%;
          }
        }
      }
    }

    & .text-content {
      margin: auto;
      color: var(--dark);
      text-align: center;
      max-width: 50%;
    }

    & .image-content {

    }
  }

  @media screen and (max-width: $sm) {
    &-cards {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      &-scroll {
        margin-top: 1rem;
        width: 2rem;
      }
    }
    &-content {
      &-container {
        flex-direction: column;

        & .text-content {
          max-width: unset;
          order: 1;
          text-align: center !important;
        }

        & .image-content {
          order: 0;
        }
      }
    }
  }
}
