.about-page {
  min-height: 30vw;
  background-color: var(--white);
  padding-bottom: 6rem;
  color: var(--dark);

  &-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-top-banner {
    &-container {
      padding: 2rem;
      background-color: var(--dark);
      color: var(--white);
      text-align: center;
    }
  }

  &-banner {
    &-container {
      padding: 1rem;
      display: flex;
      max-width: unset;
    }

    &-image {
      // height: 80px;
      width: 160px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-content {
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &.dark {

      & .about-page-banner-container {
        background-color: var(--dark);
        background-image: url(/images/about/banner-dark.png);
        background-size: contain;
        color: var(--white);
        text-align: center;
        margin: auto;
        padding: 1rem 10vw;
        padding-top: 2rem;
      }
    }
  }

  &-content {
    max-width: 800px;
    margin: auto;
    padding-top: 3rem;
  }

  &-section {
    padding: 1rem;

    &.contact {
      // background-color: var(--dark);
      color: var(--dark);
      text-align: center;
      padding: 2rem;

      & .contact-title {
        font-size: 150%;
        margin-bottom: 1rem;
      }
    }
  }
}
