.home-page {
  &-top-banner {
    position: relative;
    display: flex;
    padding: 6rem 0;
    padding-top: 2rem;
    height: 50vh;

    &-container {
      text-align: center;
      color: var(--white);
      max-width: 500px;
      margin: auto;
    }

    &-title {
      font-size: 150%;
      font-weight: normal;
    }

    &-footer {
      width: 100%;
      position: absolute;
      bottom: -1.5rem;

      &-container {
        background-color: var(--white);
        border: solid 1px var(--info);
        color: var(--dark);
        padding: 1rem 2rem;
        width: max-content;
        margin: auto;
      }

      &-text {
        font-weight: bold;
      }
    }
  }

  &-section {
    &.features {
      margin-top: 3rem;
      padding: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &.sponsors {
      padding: 2rem;

      & .sponsors-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      & .sponsors-title {
        color: var(--secondary);
        margin: auto;
        text-align: center;
        font-weight: normal;
        margin-bottom: 1rem;
      }

      & .sponsor {
        // flex: 0;
        margin: 0.5rem;
        width: 140px;
        height: 70px;
        background-color: var(--white);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &-link {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }

    &.contact {
      background-color: var(--dark);
      color: var(--white);
      text-align: center;
      padding: 2rem;

      & .contact-title {
        font-size: 150%;
      }
    }

    &.examples {
      padding: 2rem;
      background-color: var(--white);
    }

    &.subscription {
      background-color: var(--dark);
      color: var(--white);
      text-align: center;
      padding: 2rem;

      & .subscription {
        &-title {
          font-size: 150%;
        }

        &-text-line {
          // font-size: 115%;
        }

        &-form {
          margin-top: 2rem;

          &-group {

          }

          &-control {
            width: 28ch;
            padding-left: 1rem;
            padding-right: 1rem;
            border: none;
          }
        }

        &-success {
          margin-top: 0.5rem;
          opacity: 0;

          &.show {
            opacity: 1;
          }
        }
      }
    }
  }
}

// styling cookiebot
#CybotCookiebotDialog {
  & .CybotCookiebotDialogBodyButton {
    // padding-top: 0.5rem !important;
    // padding-bottom: 0.5rem !important;
    // border-radius: 5px;

    &#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection,
    &#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
      background-color: var(--primary) !important;
      border-color:  var(--primary) !important;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
    }

    &#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll {
      background-color: var(--secondary) !important;
      border-color:  var(--secondary) !important;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
    }
  }

  & #CybotCookiebotDialogPoweredbyLink {
    background-image: url(/images/MLReef_Logo_icon_01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px !important;

    & #CybotCookiebotDialogPoweredbyImage {
      opacity: 0;
    }
  }
}
