$bp-sm: 800px;
$max-width: 500px;

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  max-width: 100vw;
  background-color: var(--dark);
  // transition: ease 0.2s;

  &-links {
    display: flex;
    color: var(--white);

    &-item {
      width: max-content;
    }
  }

  &-account {
    &-links {
      display: flex;
      color: var(--white);
      justify-content: flex-end;

      &-item {
        padding: 0 1rem;
        width: max-content;
      }
    }
  }

  &-section {
    margin: auto;
    flex: 0 1 33%;

    &.center {
      text-align: center;
    }
  }

  &-brand {
    height: 2rem;
  }

  & .main-menu-button {
    margin-right: 0;
    padding-right: 1.5rem;
    font-size: 150%;
  }

  & .main-menu-close {
    margin-right: 0;
    padding-right: 0.5rem;
    font-size: 150%;
    color: var(--dark);
  }

  @media screen and (min-width: $bp-sm) {
    &-brand {
      height: 2rem;
    }
  }

  &-menu-content {
    padding: 0.5rem 1rem;
    width: 320px;

    &-title {
      padding-top: 0.5rem;
      color: var(--secondary);
    }

    &-list {
      padding-left: 0;
      list-style: none;
      max-width: $max-width;
      margin: auto;

      &-item {
        color: var(--dark);
        text-align: left;
        padding: 0.5rem 1rem;

        &:hover {
          background-color: var(--light);
        }

        & .nav-link {
          text-decoration: none;
        }

        & .label {
          color: var(--dark);
          font-size: 125%;
        }

        & .subtext {
          color: var(--secondary);
          font-size: 85%;
        }
      }
    }
  }

  &.light {
    background-color: var(--white);
    color: var(--dark);

    & .btn {
      color: var(--dark);
      background-color: var(--white);

      &:not(.keep-border) {
        border-color: transparent;
      }

      &:hover {
        // border-color: var(--dark);
        background-color: var(--light);
      }
    }
  }

  &-main-menu {
    &-container {
      display: none;
    }
  }

  @media screen and (max-width: $bp-sm) {
    &-section {
      &.left {
        padding-left: 1rem;
      }
    }

    &-main-menu {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      height: 80%;

      &-top {
        display: flex;
      }

      &-container {
        display: block;
        top: 0;
        right: 100%;
        position: absolute;
        z-index: 1000;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background-color: var(--white);
        transition: ease 0.3s;

        &.shown {
          right: 0;
        }
      }
    }

    &-menu {
      &-content {
        // flex: 1;
        width: unset;
        overflow: auto;

        &-list {
          &.fix {
            margin-left: -0.5rem;
          }
          &-item {
            margin-top: 1rem;

            & .label.first {
              font-size: 150%;
            }
          }
        }
      }
    }

    &-login {
      position: absolute;
      bottom: 0;
      flex: 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: $max-width;
      margin: auto;
      margin-bottom: 4rem;
      margin-top: 2rem;
    }
  }
}

.m-dropdown-list-container {
  box-shadow: 1px 1px 3px 1px var(--almostWhite);
}
