/* * {
  box-sizing: border-box;
} */

$card-width: 200px;
$ratio: 1.125;

.layout-container {
  position: relative;
  // padding-top: 4rem;
  & main {
    padding-top: 4rem;
  }
}

a {
  text-decoration: none;
  color: var(--info);

  &.neutral {
    color: inherit;
  }
}

.card {
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  &-container {
    border: solid 1px transparent;
    width: $card-width;
    min-height: $ratio * $card-width;

    &:hover {
      border-color: var(--info);
    }

    &.banner {
      min-height: inherit;
      width: auto;
    }

    &.large {
      width: 1.25 * $card-width;
      height: auto;
    }
  }

  @media screen and (min-width: 1400px) {
    &-container {
      width: 1.2 * $card-width;
      min-height: 1.2 * $ratio * $card-width;

      &.large {
        width: 1.2 * 1.25 * $card-width;
        height: 100%;
      }
    }
  }
}

.simple-page {
  min-height: 30vw;
  background-color: var(--white);
  padding-bottom: 6rem;
  color: var(--dark);
  overflow-x: hidden;

  &-top-banner {
    &-container {
      padding: 2rem;
      background-color: var(--dark);
      color: var(--white);
      text-align: center;
    }
  }

  &-content {
    max-width: 800px;
    margin: auto;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  & pre {
    overflow: auto;
  }
}
